<%- include('partials/head') %> <%- include('partials/navbar') %>

<h1>The Home Page</h1>
<h2><%= 'hello world'.toUpperCase() %></h2>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos magnam nam est
  pariatur cum repellat earum vitae quo repellendus deleniti odit tempora sit
  eos molestias asperiores, accusamus fugiat? Minima, eius.
</p>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident aut
  dignissimos illo a? Culpa iusto tenetur ullam, officia deleniti omnis quasi,
  autem ex praesentium obcaecati asperiores natus sint est nemo!
</p>

<%- include('partials/footer') %>
